@font-face {
  font-family: 'Merriweather';
  src: url('../font/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes zoomInOut {
  0% {
    background-size: 100%; /* Tamaño inicial */
  } 
  15% {
    background-position: 2% top;
  }
  25% {
    background-size: 101%; /* Zoom in */
    
  }
  50% {
    background-size: 102%; /* Zoom out */
    background-position: top;
  }
  75% {
    background-size: 101%; /* Zoom in */
  }
  83%{
    background-position: 3% top;
  }
  100% {
    background-size: 100%; /* Tamaño inicial */
}
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  background: rgb(104, 121, 151);
}

*::-webkit-scrollbar-track {
  background: rgb(104, 121, 151);
}

*::-webkit-scrollbar-thumb {
  background: rgb(139, 155, 185);
  border: none; 
}

* {
    margin: 0;
    color: rgb(218, 218, 218);
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: url(/img/Landingpage0.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  width: 100vw;
  height: 900vh;
  font-family: 'Merriweather', sans-serif;
}

.bkg1 {
  background-image: url(/img/Landingpage1.webp);
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -3;
  width: 100vw;
  height: 900vh;
}

.bkg2 {
  background-image: url(/img/Landingpage2.webp);
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100vw;
  height: 900vh;
  mix-blend-mode: overlay;
  animation: zoomInOut 10s linear infinite;
}

                                    /* Nav bar */
#nav-bar {
  position: sticky;
  z-index: 99;
  top: 0;
  height: 10vh;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.06);
}

  .nav-l-items {
    display: flex;
    align-items: center;
  }

    .nav-logo {
      height: 8vh;
      margin: 2vh;
      padding: 0.1rem;
    }

  .nav-r-items {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: end;

  }

  .nav-r-items > li {
    margin: 4vh 1.7rem;
    cursor: pointer;
  }

  .nav-r-items > li > a > img {
    height: 1.5rem;
  }

  .nav-r-items:hover > :not(:hover) {
    transition: 0.2s;
    transform: scale(0.9);
    filter: blur(2px);
}
  .nav-r-items > li:hover {
    transition: 0.2s;
    transform: scale(1.2);
}


                                    /* Home */
#home {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(179, 3, 3); */
}

.home-tittle-left{
  position: relative;
  top: 20vh;
  left: 10vw;
  font-size: 3.5rem;
}

.home-tittle-right{
  position: absolute;
  top: 30vh;
  left: 50vw;
  font-size: 3.5rem;
}

.section-tittle{
  font-size: 2rem;
  position: relative;
  top: 6rem;
  text-align: center;
}

#about {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(172, 28, 28); */
}

#about-container {
  height: 100%;
  padding: 20%;
  display: flex;
  align-items: center;
  text-align: center;
}


#about-container > p {
  font-size: 0.8rem;
}

#wines {
  width: 100vw;
  height: 200vh;
  /* background-color: rgb(7, 64, 170); */
}

                                      /*Carrusel*/

.carousel-container, .carousel-container2 {
    position: relative;
    max-width: 100%;
    height: 30vw;
    min-height:calc(28rem + 1vw); 
    overflow: hidden;
    top: 10%;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.carousel-container2 {
  margin-top: 15rem;
}

.carousel-wrapper, 
.carousel-wrapper2 {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item,  
.carousel-item2 {
    min-width: 33.33%; /* Mostrar 3 artículos a la vez (100% / 3) */
    box-sizing: border-box;
    padding: 10px; /* Espaciado entre los artículos */
    text-align: center;
    padding-top: 4%;
}

.carousel-img {

  height: 40%;
  cursor: pointer;
  position: relative;
  bottom: 0;
}

.carousel-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.carousel-text {
  font-size: 0.7rem;
}

.carousel-img:hover {
  transition: 0.2s;
  position: relative;
  bottom: 1rem;
  transform: scale(1.1);
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.272);
  transition: 0.3s;
  margin: 0.8rem;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#collabs {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(22, 84, 199); */
}
.collab-container {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.collab-logo {
  width: 20vw;
  margin: 5vw;
  filter: invert(90%);
}

#contacts{
  width: 100vw;
  height: 200vh;
  /* background-color: rgb(104, 154, 247); */
}

#gallery {
  width: 100vw;
  height: 186vh;
  /* background-color: rgb(205, 213, 228); */
}
footer {
  width: 100vw;
  background-color: rgb(5, 5, 5);
  color: whitesmoke;
  font-size: 0.6rem;
  /* background-color: rgb(17, 17, 17); */
}

#footer a:hover {
  color: rgb(140, 26, 26);
  transition: 0.2s;
}

#footer h2 {
  text-align: center;
  border-bottom: solid 1px rgba(245, 245, 245, 0.645);
  padding: 1rem 0.3rem 0.3rem 0.3rem;
  margin-bottom: 1rem;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}

.footer-nav {
  list-style: none;
  padding-inline-start: 0px;
}

.footer-nav li{
  padding: 0.2rem;
}

svg {
  height: 1.3rem;
}

.pin-icon {
  position: relative;
  top: -0.5rem;
  left: 45%;
  height: 2rem !important;
}

svg:hover path {
  transition: 0.3s;
  fill: rgb(140, 26, 26);
}

path {
  fill: white;
}

.contact {
  display: block;
}

.flex {
  display: flex;
  padding: 0.2rem;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
}

.copy-info{
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  border-top: 1px solid white;
  
}

.copy-info > li {
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}